* {
	box-sizing: border-box;
}

h1 {
	font-family: Georgia, Times, Times New Roman, serif;
	font-size: 26px;
	font-weight: bold;
}

h2 {
	font-family: Georgia, Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: bold;
	font-size: 20px;
}

li {
	color: #4aaaa5;
	display: inline;
	padding-right: 15px;
	padding-left: 15px;
	border-right: .5px solid #cccccc;
	z-index: 2;
}

li:last-child {
	border-right: none;
}

a:link {
	text-decoration: none;
	color: #777777;
}

a:visited {
	text-decoration: none;
	color: #777777;
}

a:hover {
	text-decoration: underline;
	color: #777777;
}

a:active {
	text-decoration: underline;
	color: #777777;
}

html {
	width: 100%;
	height: 100%;
    background:#fff url("../images/dust_scratches.png") center center no-repeat;
    background-attachment: fixed;
    background-size:100% auto;
}

body {
	height: 100%;
	width: 100%;
}

textarea {
	width: 100%;
	height: 200px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

#formName, #formEmail {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #cccccc;
}

#submitButton {
	background-color: #4aaaa5;
	width: 15%;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 15px;
	color: #ffffff;
	padding: 10px 5px 10px 5px;
	text-align: center;
	border-radius: 0;

}

#header {
	background-color: #ffffff;
	height: 90px;
	border-bottom: 2px solid #cccccc;
	z-index: 1;
}

#name {
	background-color: #4aaaa5;
	height: 100%;
	width: 240px;
	color: #ffffff;
	float: left;
	margin-left: 155px;
	padding: 30px;
	text-align: center;
	z-index: 2;

}

#navigation {
	float: right;
	margin-right: 185px;
	padding: 35px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 17px;
}

.nav {
	display: inline;
}

#content {
	width: 650px;
	float: left;
	margin-left: 155px;
	background-color: #ffffff;
	border: .3px solid #cccccc;
	padding: 30px;
	line-height: 2em;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	color: #777777;
	margin-top: 55px;
	margin-bottom: 55px;
}

#contentPortfolio {
	width: 650px;
	float: left;
	margin-left: 155px;
	background-color: #ffffff;
	border: .3px solid #cccccc;
	padding: 30px;
	line-height: 2em;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	color: #777777;
	margin-top: 55px;
	margin-bottom: 55px;
}

#contentHeading {
	color: #4aaaa5;
	padding-bottom: 20px;
}

#mainContent {
	padding-top: 30px;
}

#profile {
	float: left;
	padding-right: 30px;
}

#connect {
	width: 270px;
	float: left;
	margin-left: 55px;
	background-color: #ffffff;
	border: .3px solid #cccccc;
	padding: 30px;
	line-height: 2em;
	font-family: Georgia, Times, Times New Roman, serif;
	margin-top: 55px;
	text-align: center;
}

#connectHeading {
	padding-bottom: 7px;
}

#connectBreak {
	margin-top: 20px;
	margin-bottom: 20px;
}

.projectPic {
	width: 47%;
	height: 207px;
	margin-top: 30px;
}


#projectOne {
	background-image: url("../images/placeholder1.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	float: left;

}

#projectTwo {
	background-image: url("../images/placeholder2.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	float: right
}

#projectThree {
	background-image: url("../images/placeholder3.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	float: left;
}

#projectFour {
	background-image: url("../images/placeholder4.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	float: right;
}

#projectFive {
	background-image: url("../images/placeholder5.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	float: left;
	margin-bottom: 20px;
}

.projectName {
	width: 100%;
	background-color: #4aaaa5;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	color: #ffffff;
}

#hangman, #rpgGame {
	padding-right: 35%;
	padding-left: 35%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 54%;
}

#triviaGame {
	padding-right: 32%;
	padding-left: 32%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 54%;
}

#rutgersInfoWidget, #rockPaperScissors {
	padding-right: 23%;
	padding-left: 23%;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 54%;
}



